@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"><img src="~/img/image001.png" /></h1>
    <p>
        A empresa BTZ Transports est&aacute; procurando uma solu&ccedil;&atilde;o para resolver os problemas dos<br />
        abastecimentos realizados por sua frota. Atualmente, todo o controle &eacute; feito atrav&eacute;s de registros<br />
        manuais que os motoristas entregam para os respons&aacute;veis, mas nem sempre os mesmos s&atilde;o<br />
        lan&ccedil;ados corretamente ocasionando problemas cont&aacute;beis para a empresa. Para resolver o<br />
        problema da empresa BTZ Transports, foi elaborado o seguinte documento de requisitos (REQ),<br />
        bem como as regras de neg&oacute;cio (RN) que devem ser respeitadas para o pleno funcionamento do<br />
        sistema. Caso algum requisito ou regra n&atilde;o seja implementado, o Departamento de TI n&atilde;o<br />
        aprovar&aacute; o projeto, acarretando no seu cancelamento autom&aacute;tico.
    </p>
</div>
