@model ProjetoBitzen.Models.Abastecimento



<h2 class="display-4">Registrar os abastecimentos</h2>

<form asp-action="Criar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" id="abastecimentoId" asp-for="Id">
    <div class="form-group">
        <label>Veículo *</label>
        <select class="form-control" id="veiculos" asp-for="VeiculoId">
            <option value="">Selecione</option>
        </select>
    </div>
    <div class="form-group">
        <label>Motorista Responsável *</label>
        <select class="form-control" id="motoristas" asp-for="MotoristaId">
            <option value="">Selecione</option>
        </select>
    </div>

    <div class="form-group">
        <label>Data *</label>
        <input type="text" class="form-control" id="DATA" asp-for="Data" >
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Tipo Combústivel *</label><br />
        <select id="TipoCombustivel" class="form-control" asp-for="TipoCombustivel">
            <option value="">Selecione</option>
            <option value="ÁLCOOL">ÁLCOOL</option>
            <option value="GASOLINA">GASOLINA</option>
            <option value="FLEX">FLEX</option>
        </select>
    </div>

    <div class="form-group">
        <label>Quantidade abastecida *</label>
        <input type="text" class="form-control" id="DECIMAL" asp-for="QuantidadeAbastecida" maxlength="50" placeholder="">
        <span asp-validation-for="QuantidadeAbastecida" class="text-danger"></span>
    </div>

    <br />
    <button type="button" id="salvar" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-secondary" asp-action="Home">Voltar</button>

</form>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/js/abastecimento.js"></script>

